$background: #F1ECE5;
$foreground: #1E2126;
$card: #F1ECE5;
$card-foreground: #1E2126;
$popover: #F1ECE5;
$popover-foreground: #1E2126;
$primary: #F7713F;
$primary-foreground: #FAFAF9;
$secondary: #F1C05B;
$secondary-foreground: #1E2126;
$muted: #EAE3DA;
$muted-foreground: #78716C;
$accent: #EAE3DA;
$accent-foreground: #1E2126;
$destructive: #E11D48;
$destructive-foreground: #FAFAF9;
$border: #EAE3DA;
$input: #E2DAD0;
$ring: #F7713F;
$radius: 0.5rem;
$chart-1: #E34234;
$chart-2: #29A39B;
$chart-3: #1E4B5F;
$chart-4: #DBC11E;
$chart-5: #F1701F;

$text-xs: 0.75rem;
$lineheight-xs: 1rem;
$text-sm: 0.875rem;
$lineheight-sm: 1.25rem;
$text-base: 1rem;
$lineheight-base: 1.5rem;
$text-lg: 1.125rem;
$lineheight-lg: 1.75rem;
$text-xl: 1.25rem;
$lineheight-xl: 1.75rem;
$text-2xl: 1.5rem;
$lineheight-2xl: 2rem;
$text-3xl: 1.875rem;
$lineheight-3xl: 2.25rem;
$text-4xl: 2.25rem;
$lineheight-4xl: 2.25rem;
$text-5xl: 3rem;
$lineheight-5xl: 1rem;
$text-6xl: 3.75rem;
$lineheight-6xl: 1rem;
$text-7xl: 4.5rem;
$lineheight-7xl: 1rem;
$text-8xl: 6rem;
$lineheight-8xl: 1rem;
$text-9xl: 8rem;
$lineheight-9xl: 1rem;

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;
